nav {
    display: flex;
    overflow: visible;
    height: 50px;
    font-family: sans-serif;
    background-color: #505050;
    color: white;
    align-items: center;
    padding-left: 1%;
}
h2 {
    display: inline; 
    font-weight:bold;
    font-size: 150%;
    margin-right: 2px;
}
.navElem {
    margin: 10px;
    text-decoration: none;
}
.navSearchDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
    height: 65%;
    
}

.navHomeLink {
    color: white;
}
.navLoginLink {
    color:lightgrey;
}
.navSearchButton{
    background-color: inherit;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: gold;
    color: gold;
    margin-left: 5px;
    height: 100%;
}

.navSearch{
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    
    
}